extends ../layout

block content

  h1 users list
  
  form
    .ui.search
      .ui.icon.input
        input.prompt(type='text', name='q', placeholder='search' value='#{query.q}')
        i.search.icon

  table.ui.celled.table.striped
    thead
      tr
        th name
        th furigana
        th mail address
        th
        th
    tbody
      each user in users
        tr
          td= user.name
          td= user.furigana
          td= user.mailAddress
          td
            a(href='/users/#{user._id}') show
          td
            a(href='/users/#{user._id}/edit') edit
    tfoot
      tr
        th(colspan='5') Total: #{users.length}


  a(href='/users/new') new user
